Repository nmstreethran/notebook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, test

.gitlab/jekyll.gitlab-ci.yml:

variables:
  JEKYLL_ENV: production
  LC_ALL: C.UTF-8
  BUNDLE_PATH: .gem

default:
  image: ruby:latest
  cache:
    key: bundler-cache
    paths:
      - $BUNDLE_PATH
  before_script:
    - gem install bundler
    - bundle install

pages:
  script:
    - bundle exec jekyll build -d public
  artifacts:
    paths:
      - public
    expire_in: 1 week
  only:
    refs:
      - master
    changes:
      - _data/**/*
      - _includes/**/*
      - _posts/**/*
      - assets/**/*
      - "*.html"
      - "*.md"
      - "*.png"
      - "*.xml"
      - _config.yml
      - favicon.ico
      - Gemfile
      - safari-pinned-tab.svg
      - site.webmanifest
      - staticman.yml

.gitlab/python.gitlab-ci.yml:

.python:
  image: python:3.9
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: python-cache
    paths:
      - .cache/pip
      - env/
  before_script:
    - python3.9 -m venv env
    - source env/bin/activate
    - pip install -r requirements.txt

.pages:
  extends: .python
  script:
    - sphinx-build -b html docs public
  only:
    changes:
      - docs/**/*

# building and deploying Sphinx doc
pages:
  extends: .pages
  stage: deploy
  artifacts:
    paths:
      - public
    expire_in: 1 week
  only:
    refs:
      - master

# linting Python scripts
test:
  extends: .python
  stage: test
  script:
    - pip install flake8
    - flake8 scripts docs/conf.py
  only:
    refs:
      - merge_requests
    changes:
      - "**/*.py"

.gitlab/ruby.gitlab-ci.yml:

# Check links in text files
# https://github.com/dkhamsing/awesome_bot

# Ruby gem method
.gem:
  image: ruby:latest
  before_script:
    - gem install awesome_bot

# Docker method
.docker:
  image: dkhamsing/awesome_bot

# use either `extends: .gem` or `extends: .docker`
test:
  extends: .gem
  # extends: .docker
  script:
    - "awesome_bot --allow-dupe --skip-save-results --white-list
      stackexchange.com,\
      stackoverflow.com,\
      askubuntu.com,\
      superuser.com
      `find . -name '*.md'`"
  only:
    refs:
      - merge_requests
    changes:
      - "**/*.md"

add tabliss custom css
  firefox/tabliss.css
Due: none

update notes
  .vscode/extensions.txt
  Git.md
  LaTeX.md
Due: pages, test

update
  .vscode/settings.jsonc
  Git.md
Due: pages, test

update git notes
  Git.md
Due: pages, test

update notes
  .vscode/extensions.txt
  Git.md
  Ruby.md
Due: pages, test

update settings
  .vscode/extensions.txt
  firefox/tabliss.css
  firefox/tabliss.json
Due: none

update
  .firefox/tabliss.css
  .firefox/tabliss.json
  .gitlab/jekyll.gitlab-ci.yml
Due: none

update
  .firefox/tabliss.json
Due: none

add pkg list
  .firefox/tabliss.json
  .manjaro/aur.txt
  .manjaro/pkgs.txt
Due: none

update tabliss version
  .firefox/tabliss.json
  .vscode/extensions.txt
Due: none

update
  .firefox/tabliss.json
  .gitignore
  .manjaro/pkgs.txt
  .vscode/extensions.txt
Due: none

update
  .github/workflows/links.yml
  .manjaro/aur.txt
  .manjaro/pkgs.txt
  .vscode/settings.jsonc
Due: none

update notes
  General.md
  System.md
Due: pages, test

add more configs
  .conda/py-geo.environment.yml
  .conda/qgis.environment.yml
  .conda/r-geo.environment.yml
  .manjaro/README.md
  .manjaro/aur.txt
  .manjaro/pkgs.txt
  README.md
Due: pages, test

update
  .conda/README.md
  .firefox/tabliss.json
  .manjaro/aur.txt
Due: test

update notes
  .manjaro/pkgs.txt
  .vscode/extensions.txt
  LaTeX.md
  Markdown.md
  System.md
  VS-Code.md
Due: pages, test

update
  .vscode/extensions.txt
  General.md
Due: pages, test

update notes
  .manjaro/pkgs.txt
  .vscode/extensions.txt
  Ruby.md
Due: pages, test

update
  .manjaro/pkgs.txt
  .vscode/extensions.txt
Due: none

update
  .firefox/tabliss.json
  .manjaro/aur.txt
  .vscode/extensions.txt
  .vscode/settings.jsonc
  System.md
Due: pages, test

update
  .manjaro/aur.txt
  .manjaro/pkgs.txt
  .vscode/settings.jsonc
  README.md
Due: pages, test

update
  .manjaro/README.md
  README.md
Due: pages, test

update
  Git.md
  LaTeX.md
  Python-package-management.md
  README.md
  Ruby.md
  System.md
  settingsbackup.sh
Due: pages, test

update workflow
  .github/workflows/links.yml
  README.md
Due: pages, test

update
  .manjaro/README.md
  .manjaro/aur.txt
  .vscode/extensions.txt
Due: test

update pkgs
  .manjaro/pkgs.txt
Due: none

update
  .vscode/extensions.txt
  .vscode/settings.jsonc
  badge.svg
Due: none

update settings
  .manjaro/.zshrc
  .manjaro/README.md
  .manjaro/fonts-local.conf
  .manjaro/kdeglobals.txt
  .manjaro/konsole.profile
  .manjaro/okular-part.rc
  .manjaro/ssh-config.txt
  .vscode/extensions.txt
  settingsbackup.sh
Due: test

update
  .manjaro/README.md
  settingsbackup.sh
Due: test

update
  .manjaro/README.md
  .manjaro/fonts-local.xml
  .manjaro/kdeglobals.conf
  .manjaro/konsole.conf
  .manjaro/okular-part.xml
  .manjaro/pkgs-aur.txt
  settingsbackup.sh
Due: test

update
  .windows/pkgs-winget.txt
Due: none

update settings
  .windows/README.md
  .windows/pkgs-winget.json
  .windows/pkgs-winget.txt
  .windows/skyrimse-loadorder.txt
  .windows/skyrimse-plugins.txt
  .windows/term-settings.json
  settingsbackup.sh
Due: test

update settings
  .windows/README.md
  .windows/pkgs-winget.json
  .windows/term-settings.json
  README.md
Due: pages, test

exclude version from vscode extension list
  .vscode/extensions.txt
  settingsbackup.sh
Due: none

update
  .vscode/README.md
  .vscode/tasks.json
  settingsbackup.sh
Due: test

reorganise
  .vscode/tasks.json
  notes/Database.md
  notes/Documentation.md
  notes/General.md
  notes/Git.md
  notes/LaTeX.md
  notes/Markdown.md
  notes/Python-package-management.md
  notes/Python.md
  notes/Ruby.md
  notes/Shell-scripting.md
  notes/System.md
  notes/VS-Code.md
  notes/Web-browsing.md
  notes/Web-development.md
  settingsbackup.sh
Due: test

update
  .conda/README.md
  .linux/.zshrc
  .linux/README.md
  .linux/fonts-local.xml
  .linux/kdeglobals.conf
  .linux/konsole.conf
  .linux/okular-part.xml
  .linux/pkgs-aur.txt
  .linux/pkgs.txt
  .manjaro/README.md
  .manjaro/ssh-config.txt
  .vscode/settings.jsonc
  README.md
  notes/Database.md
  notes/Git.md
  notes/LaTeX.md
  notes/Ruby.md
  settingsbackup.sh
Due: pages, test

update settings
  .linux/.zshrc
  .linux/README.md
  .linux/archlinux-install.sh
  .linux/fonts-local.xml
  .linux/kdeglobals.conf
  .linux/konsole/bash.profile
  .linux/konsole/zsh.profile
  .linux/okular-part.xml
  .linux/pkgs-aur.txt
  .linux/pkgs.txt
  .vscode/extensions.txt
  .vscode/settings.jsonc
  notes/Git.md
  notes/System.md
  settingsbackup.sh
Due: test
