Repository nmstreethran/notebook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, test

pages:
  script:
  - bundle exec jekyll build -d public
  artifacts:
    paths:
    - public
    expire_in: 1 week

test:
  image: python:3.9
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: python-cache
    paths:
    - .cache/pip
    - env/
  before_script:
  - python3.9 -m venv env
  - source env/bin/activate
  - pip install -r requirements.txt
  stage: test
  script:
  - pip install flake8
  ...

update settings
  .linux/.zshrc
  .linux/README.md
  .linux/archlinux-install.sh
  .linux/pkgs-aur.txt
  .linux/pkgs.txt
  notes/Git.md
  notes/LaTeX.md
  notes/Ruby.md
Due: test

update
  .linux/archlinux-install.sh
  .linux/pkgs.txt
Due: none

update settings
  .firefox/tabliss.css
  .firefox/tabliss.json
  .linux/archlinux-install.sh
  settingsbackup.sh
Due: none

add citrix configurations
  .linux/.zshrc
  .linux/archlinux-install.sh
  .linux/pkgs.txt
Due: none

separate archlinux scripts
  .linux/archlinux-configs.sh
  .linux/archlinux-install.sh
Due: none

update tabliss
  .firefox/tabliss.json
Due: none

update
  .firefox/tabliss-alt.json
  .firefox/tabliss.css
  .firefox/tabliss.json
  .linux/archlinux-configs.sh
  .linux/pkgs.txt
Due: none

update notes/settings
  .firefox/tabliss-alt.json
  .firefox/tabliss.json
  .linux/archlinux-install.sh
  .linux/pkgs.txt
  notes/System.md
Due: test

update
  .linux/archlinux-configs.sh
  .linux/archlinux-install.sh
  .linux/pkgs.txt
Due: none

update
  .linux/README.md
  .linux/archlinux-configs.sh
  .linux/archlinux-install.sh
  .linux/pkgs.txt
  notes/System.md
  settingsbackup.sh
Due: test

update
  .linux/archlinux-configs.sh
  .linux/pkgs-aur.txt
Due: none

update
  .firefox/tabliss-alt.json
  .firefox/tabliss.json
  .linux/README.md
  .linux/archlinux-configs.sh
Due: test

update
  .github/workflows/links.yml
  .linux/archlinux-configs.sh
  .linux/archlinux-install.sh
  .linux/pkgs.txt
  .vscode/settings.jsonc
  .vscode/tasks.json
  notes/Git.md
  notes/Shell-scripting.md
Due: test

update
  .conda/py-geo.environment.yml
  .conda/qgis.environment.yml
  .conda/r-geo.environment.yml
  .gitlab/jekyll.gitlab-ci.yml
  .gitlab/latex-docker.gitlab-ci.yml
  .gitlab/python.gitlab-ci.yml
  .linux/README.md
  .linux/archlinux-configs.sh
  .linux/pkgs-aur.txt
  .linux/pkgs.txt
  .vscode/settings.jsonc
Due: test

update
  .linux/archlinux-configs.sh
  .windows/conda-init.ps1
  .windows/vscode-settings.json
Due: none

update
  .linux/.zshrc
  .linux/archlinux-configs.sh
  .linux/pkgs-aur-other.txt
  .linux/pkgs-aur.txt
  .linux/pkgs-other.txt
  .linux/pkgs.txt
  .vscode/settings.jsonc
Due: none

update linux specs
  .linux/README.md
  .linux/archlinux-install.sh
  .linux/pkgs-aur-other.txt
  .linux/pkgs-aur.txt
  .linux/pkgs-other.txt
  .linux/pkgs.txt
Due: test

update tabliss
  .firefox/tabliss-alt.json
  .firefox/tabliss.json
Due: none

update
  .firefox/tabliss-alt.json
  .linux/pkgs-aur-other.txt
  .linux/pkgs-aur.txt
  .linux/pkgs-other.txt
  .linux/pkgs.txt
Due: none

update
  .linux/README.md
  .linux/pkgs.txt
Due: test

update base-devel list
  .linux/pkgs.txt
Due: none

simplify
  .linux/archlinux-install.sh
Due: none

update
  .linux/archlinux-configs.sh
  .linux/pkgs.txt
Due: none

update
  .firefox/tabliss-alt.json
  .firefox/tabliss.json
  .linux/archlinux-install.sh
  .linux/pkgs-other.txt
Due: none

update
  .linux/pkgs-other.txt
  .linux/pkgs.txt
Due: none

update
  .vscode/settings.jsonc
Due: none

update
  .conda/r-geo.environment.yml
  .linux/.zshrc
  .linux/konsole/zsh.profile
  .linux/pkgs.txt
Due: none

update
  .linux/archlinux-configs.sh
  .linux/archlinux-install.sh
Due: none

update
  .linux/.zshrc
  .linux/README.md
  .linux/pkgs-aur.txt
Due: test

update
  .linux/README.md
  .linux/pkgs-aur.txt
  .linux/pkgs.txt
  .vscode/settings.jsonc
Due: test

update .zshrc
  .linux/.zshrc
Due: none

update
  .linux/archlinux-install.sh
  .windows/pkgs-winget.json
  .windows/term-settings.json
  README.md
Due: pages, test

update settings
  .linux/.zshrc
  .linux/archlinux-configs.sh
  .linux/kdeglobals.conf
  .linux/kglobalshortcutsrc.conf
  .linux/okular-part.xml
  .linux/pkgs-aur-other.txt
  .linux/pkgs-aur.txt
  .linux/pkgs-other.txt
  .linux/spectacle.conf
  .linux/user-dirs.conf
  .vscode/settings.jsonc
  .windows/conda-init.ps1
  .windows/vscode-settings.json
  .zotero/extensions.txt
  .zotero/prefs.js
  settingsbackup.sh
Due: none

update settings
  .firefox/user.js
  .zotero/user.js
Due: none

update settings
  .firefox/extensions.json
  .linux/pkgs.txt
  settingsbackup.sh
Due: none

update settings
  .firefox/extensions.json
  .firefox/user.js
  .linux/README.md
  .linux/okularpartrc.conf
  .linux/spectacle.conf
  .zotero/extensions.json
  .zotero/extensions.txt
  README.md
  settingsbackup.sh
Due: pages, test

Path conditions:
  pages: (any of: _data/**/*, _includes/**/*, _posts/**/*, assets/**/*, *.html, *.md, *.png, *.xml, _config.yml, favicon.ico, Gemfile, safari-pinned-tab.svg, site.webmanifest, staticman.yml) or (any of: docs/**/*)
  test: (any of: **/*.py) or (any of: **/*.md)
